<header>
  <nav>
    <span>Славгород</span>
    <a routerLink="/">Главная</a>
    <a routerLink="/population">Население города</a>
    <a routerLink="/users">Пользователи</a>
    <a routerLink="/aboutMe">Обо мне</a>
    <div *ngIf="!isLoggedIn()" class="autorize-btn">
      <a routerLink="/users/login">войти</a>
      <a routerLink="/users/register">зарегистрироваться</a>
    </div>
    <div *ngIf="isLoggedIn()" class="autorize-btn">
      <a (click)="logout()">выйти</a>
    </div>
    
  </nav>
  <!-- <div class="scale-pict"><img src="/assets/images/IMG_4367.jpg" alt="Славгород" class="scale-pict"></div> -->
</header>
  <router-outlet></router-outlet>