<div class="scale-pict"><img src="/assets/images/IMG_4367.jpg" alt="Славгород" class="scale-pict"></div>
  <main>
	<div class="for-white-center-bg">
	  /
	</div>
	<h2>Славгород</h2>
	<div class="content">
	  <p>является муниципальным районом в Алтайском крае России.</p>
	  <p>Славгород - небольшой сибирский город, уютно расположившийся северо-западной части Алтайского края, в центре Кулундинской степи.</p>
	  <p>
		Был основан в 1910 году, статус города получил в 1914 году.
		С 1917 по 1930 годы — административный центр одноимённого уезда и округа,
		с января 1945 года является городом краевого подчинения,
		до 2012 года был административным центром Славгородского района.
	  </p>
	  <img src="/assets/images/127577-500x333.jpg">
	  <p>
		Расположен между озёрами Сикачи и Большим Яровым, которое является самой низкой точкой Алтайского края,
		в северо-западной части Алтайского края, в центре Кулундинской степи, в 394 км от Барнаула (по железной дороге),
		в 20 км от границы с Казахстаном.
	  </p>
	</div>
  </main>